---
import { getCollection } from 'astro:content';

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from '../layouts/BaseLayout.astro';

// Component Imports
import CallToAction from '../components/CallToAction.astro';
import Grid from '../components/Grid.astro';
import Hero from '../components/Hero.astro';
import Icon from '../components/Icon.astro';
import Pill from '../components/Pill.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';

// Page section components
import ContactCTA from '../components/ContactCTA.astro';
import EducationTimeline from '../components/EducationTimeline.astro';

// Content Fetching: List four most recent work projects
const projects = (await getCollection('work'))
	.sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
	.slice(0, 4);

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<BaseLayout>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<meta name="google-site-verification" content="Zazwz_l12ij_apgwNGMsv9n9Vh84xkcKcH5VhAb-1Ks" />
	<div class="stack gap-20 lg:gap-48">
		<div class="wrapper stack gap-8 lg:gap-20">
			<header class="hero">
				<Hero
					title="Abdel-Karim Boucharafa"
					tagline="Développeur Full Stack"
					align="start"
				>
				<div class="roles">
					<!-- Création de site -->
					<Pill><i class="fab fa-html5"></i> HTML</Pill>
					<Pill><i class="fab fa-css3-alt"></i> CSS</Pill>
					<Pill><i class="fab fa-js-square"></i> JavaScript</Pill>
					<Pill><i class="fab fa-bootstrap"></i> Bootstrap</Pill>
				
					<!-- Création de fonctionnalités -->
					<Pill><i class="fab fa-php"></i> PHP</Pill>
					<Pill><i class="fab fa-symfony"></i> Symfony</Pill> 
					<Pill><i class="fab fa-node-js"></i> Node.js</Pill>
					<Pill><i class="fab fa-react"></i> React</Pill>
					<!-- Implémentation, création et test d'API -->
					<Pill><i class="fas fa-cloud"></i> <i class="fas fa-cog"></i> API REST</Pill> 
					<Pill><i class="fab fa-git-alt"></i> Git</Pill>
					<Pill><i class="fab fa-github"></i> GitHub</Pill> 
				
					<!-- Containers et Orchestration -->
					<Pill><i class="fab fa-docker"></i> Docker</Pill>
				
					<!-- Base de données -->
					<Pill><i class="fas fa-database"></i> MySQL</Pill>
					<Pill><i class="fas fa-database"></i> PostgreSQL</Pill>
					<Pill><i class="fas fa-database"></i> MongoDB</Pill> 
			
				</div>
				
				</Hero>
			</header>

		</div>

		<main class="wrapper stack gap-20 lg:gap-48">
			<section class="section with-background with-cta">
				<header class="section-header stack gap-2 lg:gap-4">
					<h3>Projets Sélectionnés</h3>
					<p>Je vous présente avec fierté les projets qui me tiennent le plus à cœur.</p>
				</header>

				<div class="gallery">
					<Grid variant="offset">
						{
							projects.map((project) => (
								<li>
									<PortfolioPreview project={project} />
								</li>
							))
						}
					</Grid>
				</div>

				<div class="cta">
					<CallToAction href="/work/">
						Tout voir
						<Icon icon="arrow-right" size="1.2em" />
					</CallToAction>
				</div>
			</section>

			<section class="section with-background bg-variant">
				<header class="section-header stack gap-4 lg:gap-10">
					<h3>Mon Parcours</h3>
					<p>
						Dès la fin de mes études secondaires, j'ai choisi de me spécialiser pleinement dans le développement Full Stack.
					</p>
				</header>

</div>
				<EducationTimeline />
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}

	.roles {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.pill {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 1em;
    background: var(--color-pill-background, #6c757d); /* Fallback color if variable is not defined */
    color: var(--color-pill-text, #ffffff); /* Fallback color if variable is not defined */
    font-size: 0.85em; /* Adjust the font size as needed */
    white-space: nowrap;
}

/* Adjusting the width of the Pill elements based on screen size */
@media (min-width: 768px) {
  .pill {
      width: auto; /* Auto width for medium screens and up */
  }
}

@media (min-width: 992px) {
  .pill {
      width: auto; /* Auto width for large screens and up */
  }
}



	.hero img {
		aspect-ratio: 5 / 4;
		object-fit: cover;
		object-position: top;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	@media (min-width: 50em) {
		.hero {
			display: grid;
			grid-template-columns: 6fr 4fr;
			padding-inline: 2.5rem;
			gap: 3.75rem;
		}

		.roles {
			margin-top: 0.5rem;
			display: flex;
			gap: 0.5rem;
		}

		.hero img {
			aspect-ratio: 3 / 4;
			border-radius: 4.5rem;
			object-fit: cover;
		}
	}

	/* ====================================================== */

	.section {
		display: grid;
		gap: 2rem;
	}

	.with-background {
		position: relative;
	}

	.with-background::before {
		--hero-bg: var(--bg-image-subtle-2);

		content: '';
		position: absolute;
		pointer-events: none;
		left: 50%;
		width: 100vw;
		aspect-ratio: calc(2.25 / var(--bg-scale));
		top: 0;
		transform: translateY(-75%) translateX(-50%);
		background:
			url('/assets/backgrounds/noise.png') top center/220px repeat,
			var(--hero-bg) center center / var(--bg-gradient-size) no-repeat,
			var(--gray-999);
		background-blend-mode: overlay, normal, normal, normal;
		mix-blend-mode: var(--bg-blend-mode);
		z-index: -1;
	}

	.with-background.bg-variant::before {
		--hero-bg: var(--bg-image-subtle-1);
	}

	.section-header {
		justify-self: center;
		text-align: center;
		max-width: 50ch;
		font-size: var(--text-md);
		color: var(--gray-300);
	}

	.section-header h3 {
		font-size: var(--text-2xl);
	}

	@media (min-width: 50em) {
		.section {
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas: 'header header header header' 'gallery gallery gallery gallery';
			gap: 5rem;
		}

		.section.with-cta {
			grid-template-areas: 'header header header cta' 'gallery gallery gallery gallery';
		}

		.section-header {
			grid-area: header;
			font-size: var(--text-lg);
		}

		.section-header h3 {
			font-size: var(--text-4xl);
		}

		.with-cta .section-header {
			justify-self: flex-start;
			text-align: left;
		}

		.gallery {
			grid-area: gallery;
		}

		.cta {
			grid-area: cta;
		}
	}

	/* ====================================================== */

	.mention-card {
		display: flex;
		height: 7rem;
		justify-content: center;
		align-items: center;
		text-align: center;
		border: 1px solid var(--gray-800);
		border-radius: 1.5rem;
		color: var(--gray-300);
		background: var(--gradient-subtle);
		box-shadow: var(--shadow-sm);
	}

	@media (min-width: 50em) {
		.mention-card {
			border-radius: 1.5rem;
			height: 9.5rem;
		}
	}

</style>
