---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';

const projects = (await getCollection('work')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
    title="Mes Projets | Boucharafa Abdelkarim"
    description="Ici vous retrouverez mes projets"
>
    <div class="stack gap-20">
        <main class="wrapper stack gap-8">
            <Hero
                title="Mes Projets"
                tagline="Ci-dessous Mes Projets Les plus récents"
                align="start"
            />
            <Grid variant="offset">
                {
                    projects.map((project) => (
                        <li class="portfolio-preview-wrapper">
                            <PortfolioPreview project={project} />
                        </li>
                    ))
                }
            </Grid>
        </main>
        <ContactCTA />
    </div>
</BaseLayout>
<style>
.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-content {
    flex: 1;
}

.portfolio-preview-wrapper {
    margin-bottom: 20px;
    margin-right: 20px; /* Ajout d'une marge à droite */
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap; /* Ajout de flex-wrap pour gérer les retours à la ligne */
    }

    .portfolio-preview-wrapper {
        margin-right: 0; /* Supprimer la marge à droite */
    }
}

.contact-cta {
    width: 100%;
}
</style>