---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Full Stack</h2>
		<p>Maîtrise du développement web avec HTML, CSS, JavaScript, React, Bootstrap, et 
			compétences en PHP avec Symfony framework. Expérience en Node.js, 
			bases de données MySQL, gestion de versions avec Git, collaboration via Trello, Miro, Figma, et 
			pratique des méthodologies Agile, Scrum, Kanban. Familiarité avec Docker, AJAX, JSON, et 
			développement d'API RESTful.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Tech Innovator & Entrepreneurial Spirit</h2>
		<p>Animé par l'innovation technologique et une passion pour l'entrepreneuriat. 
			Impliqué dans le développement de solutions numériques avancées, 
			je suis toujours à la recherche de nouvelles façons d'améliorer les processus et 
			d'apporter une valeur ajoutée à travers des projets technologiques. 
			Doté d'une perspective stratégique et d'un engagement envers l'excellence, 
			je vise à influencer positivement le domaine du développement web.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Strategic Developer & Problem Solver</h2>
		<p>Approche méthodique de la conception et du développement de logiciels, en 
			privilégiant des solutions efficaces et évolutives. 
			Avec un esprit critique et une réflexion stratégique, 
			je transforme les défis complexes en opportunités d'innovation, 
			optimisant les performances tout en répondant aux besoins des utilisateurs finaux.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
